<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">Charity App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/actions}">Actions de charité</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/organisations}">Organisations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dons}">Faire un don</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/login}">Se connecter</a>
                    </li>
                    <li class="nav-item" th:if="${#authorization.expression('!isAuthenticated()')}">
                        <a class="nav-link" th:href="@{/register}">S'inscrire</a>
                    </li>
                    <li class="nav-item dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                            Mon compte
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" th:href="@{/profile}">Profil</a></li>
                            <li><a class="dropdown-item" th:href="@{/mes-dons}">Mes dons</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" th:href="@{/logout}">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html> 